body{
    font-family: 'Merriweather', serif;
    background-color: #676666;
    color: #111111;
    text-align:center;
    border-image: round;
    }
.foto {
  width: 400;
  height: 400;
}
