body{
    font-family: 'Merriweather', serif;
    background-color: #1C1C1C;
    color: #EEF0F2;
    text-align:center;
    border-image: round;
    }

    href{
        color:ghostwhite;
    }
    
.panela {
    font-style:italic;
    color: #ECEBE4;
}
li {
  text-align: left;
}
a {
  color: ghostwhite;
}
.foto {
  width: 400px;
  height: auto;
}
.lista{
  text-align: left;
}
