body{
    background-color:#00594f;
    color:ghostwhite;
    text-align:center;
    border-image: round;
    }
    h1{
        color:#cedc00;
        font-style :italic;
    }
    h2{
        color:#00352f;
        font-style:italic;
    }
    h3{
        color:#00352f;
        font-style:italic;
         }
     ul{
        text-align:left;
     }