body{
    font-family: 'Merriweather', serif;
    background-color:#00594f;
    color:ghostwhite;
    text-align:center;
    border-image: round;
    }
    h1{
        color:#cedc00;
        font-style :italic;
        font-family: 'Oswald', sans-serif;
    }

    h2{
        color:#00352f;
        font-style:italic;
        font-family: 'Oswald', sans-serif;
    }
    h3{
        color:#00352f;
        font-style:italic;
        font-family: 'Oswald', sans-serif;
         }
    href{
        color:ghostwhite;
    }
.goiaba {
    font-style:bold;
}
    
   
