body{
    font-family: 'Merriweather', serif;
    background-color:#00594f;
    color:ghostwhite;
    text-align:center;
    border-image: round;
    }

    href{
        color:ghostwhite;
    }
.goiaba {
    font-style:bold;
}

.panela {
    font-style:italic;
    color:#DADDD8;
}