body {
    background: #00594f;
    color: ghostwhite;
    text-align: center;
}

h1 {
    color: #cedc00;
    font-style: italic;
}

h2, h3 {
    color: #00352f;
    font-style: italic;
}

a {
    color: ghostwhite;
    text-decoration: none;
}

ul {
    list-style: square;
    text-align: left;
    display: inline-block;
}

img {
    margin: 20px;
    border-radius: 10px;
}

.goiaba {
    font-weight: bold;
}
